.homediv{
    background: rgb(253, 95, 95);
    text-decoration: none;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  overflow-x: auto;
}

h1{  
    justify-self: center;
}

.homediv:hover{
    padding: 20px;
    transition: 1s;
}

.L{
    text-decoration: none;
    color: black;
}

.home{
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.imgdiv{
    width: 1100px;
    height: auto;
    min-height: 500px;
    max-height: 800px;
    justify-self: center;
    padding: 10px;
    transition: 1s;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.imgimg{
    width: 810px;
    height: 480px;
    min-height: 410px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.arrow-button{
    border-radius: 13px;
    width: 26px;
    height: 26px;
    border: none;
    transition: 0.5s;
}

.capdiv{
    background: rgba(255, 255, 255, 0.282);
    padding: 4px;
    margin: 1px;
    border-radius: 10px;
}

.arrow-button:hover{
    background: rgba(243, 255, 7, 0.773);
    transition: 0.5s;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    
    cursor: pointer;

}

.back{
    display: flex;
    justify-self: center;
    margin-top: 10px;
    border-radius: 60px;
    width: 50px;
    height: 25px;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
    color: rgb(255, 0, 0);
    border: none;

}

.back:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    border: 3px solid white;
    box-shadow: 2px 2px 2px black;
}

.L{
    text-decoration: none;
}

.homediv img{
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
}

@media (max-width: 1000px) {
    .imgdiv {
        width: 90%;
        justify-self: center;
        position: relative; /* so .arrow positions inside this */
    }

    .stockpage img {
        width: 90%;
    }

    /* Position the arrow buttons inside the chart container */
    .arrow {
        position: absolute;
        bottom: 100px; /* adjust until it's visually between img & caption */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .arrow-button {
        margin: 0 6px;
    }

    .capdiv{
        margin-top: 40px;
    }
}

.arrow button{
    gap: 10px;
    margin: 10px;

}
